{% extends 'template.html.twig' %}
{% block title %}Création des données du formulaire{% endblock %}
{% block content %}
	{% block body %}
    <div class="col-md-12" style="right: -25px;">
    <div class="col-md-10">
<h3 class="page-title">Création des données du formulaire</h3><br></div>
<br><br>
    
    <div class="card-box" style="width:1282px;">
    
    <div class="row">
    <div class="col-md-8">
<h4 class="page-title">{{form.name}}</h4>
<br>
    
   
<p>{{form.description}}</p>
</div>
<div class="col-md-2"> </div>
<div class="col-md-2"> 

</div>
</div></div>
</div>
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
              
               
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        {% set currentPath = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) %}
   {% set url = app.request.attributes.get('_route_params')['url'] %}

        <form  action="{{ path('setElementsValues', {'url':url }) }}" method="post" id="dataValue"  class="validate" name="validationform" novalidate="">
        <!-- Basic Form Wizard -->
        {% for section in sections %}
        <div class="row">
            <div  class="col-md-12" style="left: -47px;">
                <div class="card-box" style=" width: 1282px;">
            <h4 class="m-t-0 header-title"><b>{{section.title}}</b></h4>
                <div class="p-20">
                <div class="row">
                {% for element in section.elements %}
               
                                       
                {% if element.elementType.type == "Text" %}
                <div  class="{{element.classe}}">
            {% set  validations = element.getConstraintValidationByType %}
            
           
                                            <div class="form-group">
                                                <label>{{element.label}}</label>
                                                <input  name="{{element.id}}" {% for validation in validations %}
                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                          
                                        {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                    {% endfor %} 
                                   id="validationform[{{element.label}}]" type="text" class="form-control inputerror"  placeholder="{{element.placeholder}}" >
                                            </div>
                                       
                                        </div>
                                    {% endif %}

                                     {% if element.elementType.type == "Text Area" %}
                                     <div  class="{{element.classe}}">
                                    {% set  validations = element.getConstraintValidationByType %}
                                    
                                   
                                                                    <div class="form-group">
                                                                        <label>{{element.label}}</label>
                                                                        <textarea  name="{{element.id}}" {% for validation in validations %}
                                                                    {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                  
                                                                {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}
                                                            {% endfor %} 
                                                        id="validationform[{{element.label}}]" type="text" class="form-control inputerror"  placeholder="{{element.placeholder}}"></textarea>
                                                                    </div>
                                                               
                                                                </div>
                                                            {% endif %}

                                                    
                                                                                    {% if element.elementType.type == "Date" %}
                                                                                    <div  class="{{element.classe}}">
                                                                                    {% set  validations = element.getConstraintValidationByType %}
                                                                                
                                                                                   
                                                                                                                    <div class="form-group">
                                                                                                                        <label>{{element.label}}</label>
                                                                                                                            <div class="input-group">
                                                                                                                        <input name="{{element.id}}" {% for validation in validations %}
                                                                                                                    {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                                                  
                                                                                                                {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                                                                            {% endfor %} 
                                                                                                        id="validationform[{{element.label}}]" class="form-control inputerror datepick" type="text" ><span class="input-group-addon bg-custom b-0"><i class="mdi mdi-calendar text-white"></i></span></div>
                                                                                                                    </div>
                                                                                                               
                                                                                                                </div>
                                                                                                            {% endif %}
                                                                                                            {% if element.elementType.type == "Checkbox" %}
                                                                             
                                                                                                            <div  class="{{element.classe}}">
                                                                                                            {% set  validations = element.getConstraintValidationByType %}
                                                                                                                                            <div class="form-group">
                                                                                                                                             
                                                                                                                                                    <div class="checkbox checkbox-primary">
                                                                                                                                                <input name="{{element.id}}" id="validationform[{{element.label}}]" {% for validation in validations %}
                                                                                                                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                                                                          
                                                                                                                                        {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                                                                                                    {% endfor %} 
                                                                                                                                 class="form-control inputerror" type="checkbox" > <label>{{element.label}}</label></div>     
                                                                                                                                       
                                                                                                                                        </div>
                                                                                                                                    {% endif %}
                                                                                                                                    {% if element.elementType.type == "Number" %}
                                                                                                                                    <div  class="{{element.classe}}">
                                                                                                                                    {% set  validations = element.getConstraintValidationByType %}
                                                                                                                                    
                                                                                                                                   
                                                                                                                                                                    <div class="form-group">
                                                                                                                                                                        <label>{{element.label}}</label>
                                                                                                                                                                        <input  name="{{element.id}}" {% for validation in validations %}
                                                                                                                                                                    {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                                                                                                  
                                                                                                                                                                {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                                                                                                                            {% endfor %} 
                                                                                                                                                           id="validationform[{{element.label}}]" type="number" class="form-control inputerror"  placeholder="{{element.placeholder}}" >
                                                                                                                                                                    </div>
                                                                                                                                                               
                                                                                                                                                                </div>
                                                                                                                                                            {% endif %}
                                                                                                                                                            {% if element.elementType.type == "E-mail" %}
                                                                                                                                                            <div  class="{{element.classe}}">
                                                                                                                                                            {% set  validations = element.getConstraintValidationByType %}
                                                                                                                                                            
                                                                                                                                                           
                                                                                                                                                                                            <div class="form-group">
                                                                                                                                                                                                <label value="{{element.label}}">{{element.label}}</label>{% for validation in validations %}
                                                                                                                                                                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}{% if validationValues is not null %}{% if validation.contrainte == "required" and  validationValues.value =="1" %}<span class="text-danger">*</span>{% endif %}{% endif %}{% endfor %}
                                                                                                                                                                                                <input  name="{{element.id}}" {% for validation in validations %}
                                                                                                                                                                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                                                                                                                            
                                                                                                                                                                                        {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                                                                                                                                                       
                                                                                                                                                                                    {% endfor %} 
                                                                                                                                                                              
                                                                                                                                                                                   id="validationform[{{element.label}}]" type="text" class="form-control inputerror"  placeholder="{{element.placeholder}}" email="true">
                                                                                                                                                                                            </div>
                                                                                                                                                                                       
                                                                                                                                                                                        </div>
                                                                                                                                                                                    {% endif %}
                                                                                                                                                                                    {% if element.elementType.type == "Multiple Checkbox" %}
                                                                                                           
                                                                                                                                                                                    <div  class="{{element.classe}}">
                                                                                                                                                                                    {% set  validations = element.getConstraintValidationByType %}
                                                                                                                                                                                
                                                                                                                                                                                   
                                                                                                                                                                                                                    <div class="form-group">
                                                                                                                                                                                                                <label>{{element.label}}</label>
                                                                                                                                                                                                                    {% set  multipleElements = element.multipleElements %}
                                                                                                                                                                                                                    {% for multipleElement in multipleElements %}
                                                                                                                                                                                                                            <div class="checkbox checkbox-primary">
                                                                                                                                                                                                                        <input name="{{multipleElement.id}}" {% for validation in validations %}
                                                                                                                                                                                                                    {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                                                                                                                                                  
                                                                                                                                                                                                                {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                                                                                                                                                                            {% endfor %} 
                                                                                                                                                                                                        name="validationform[{{element.label}}]" class="form-control inputerror" type="checkbox" > <label>{{multipleElement.value}}</label></div>
                                                                                                                                                                                                               
                                                                                                                                                                                                        {% endfor %}
                                                                                                                                                                                                                </div></div>
                                                                                                                                                                                                            
                                                                                                
                                                                                                                                                                                                            {% endif %}

                                                                                                                                                                                                            {% if element.elementType.type == "Dropdown List" and element.multiple == "Unique" %}
                                                                                                                                                                                                            <div  class="{{element.classe}}">
                                                                                                                                                                                                            {% set  validations = element.getConstraintValidationByType %}
                                                                                                                                                                                                            
                                                                                                                                                                                                           
                                                                                                                                                                                                                                            <div class="form-group">
                                                                                                                                                                                                                                                <label value="{{element.label}}">{{element.label}}</label>{% for validation in validations %}
                                                                                                                                                                                                                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}{% if validationValues is not null %}{% if validation.contrainte == "required" and  validationValues.value =="1" %}<span class="text-danger">*</span>{% endif %}{% endif %}{% endfor %}
                                                                                                                                                                                                                                                <select name="{{element.id}}" title="select"  {% for validation in validations %}
                                                                                                                                                                                                                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                        {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                                                                                                                                                                                                       
                                                                                                                                                                                                                                    {% endfor %} 
                                                                                                                                                                                                                              
                                                                                                                                                                                                                                name="validationform[{{element.label}}]"  class="form-control inputerror"  >
                                                                                                                                                                                                                                {% set  multipleElements = element.multipleElements %}
                                                                                                                                                                                                                         {% for multipleElement in multipleElements %}
                                                                                                                                                                                                                            <option>{{multipleElement.value}}</option>
                                                                                                                                                                                                                            {% endfor %}
                                                                                                                                                                                                                                </select>
                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                       
                                                                                                                                                                                                                                        </div>
                                                                                                                                                                                                                                    {% endif %}
                                                                                                                                                                                                                                    {% if element.elementType.type == "Dropdown List" and element.multiple == "Multiple" %}
                                                                                                                                                                                                                                    <div  class="{{element.classe}}">
                                                                                                                                                                                    
                                                                                                                                                                                    <div class="form-group">
                                                                                                                                                                                    <label value="{{element.label}}">{{element.label}}</label>
                                                                                                                                                                                    <select name="{{element.id}}" data-placeholder="" multiple="" class="chosen-select" tabindex="-1" style="display: none;">
                                                                                                                                                                                      <option value=""></option>
                                                                                                                                                                                      {% set  multipleElements = element.multipleElements %}
                                                                                                                                                                         {% for multipleElement in multipleElements %}
                                                                                                                                                                            <option>{{multipleElement.value}}</option>
                                                                                                                                                                            {% endfor %}
                                                                                                                                                                                    </select><div class="chosen-container chosen-container-multi chosen-container-active" title="" style="width: 350px;">
                                                                                                                                                                       </div>
                                                                                                                                                                                  </div>
                                                                                                                                                                                </div>
                                                                                                                                                                                {% endif %}   
                                                                                
                                     
                                     
                                    
                                   {% endfor %}
                                </div>
                                </div>       
                 </div>
            </div>
        </div>
    {% endfor %}
        <div class="form-group text-right m-b-0">
   
     <button type="reset" class="btn btn-default waves-effect m-l-5" style="left:23px;">
        Annuler
    </button> 

<button class="btn btn-primary waves-effect waves-light addValueForm" data-target="#custom-width-modal" style="left:34px;">Enregistrer</button>   

</div>
</form>


        <!-- End row -->


 

    </div>
    <div id="custom-width-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; padding-right: 17px;">
    <div class="modal-dialog" style="width:55%;">
        <div class="modal-content p-0 b-0">
            <div class="panel panel-color panel-warning">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="display:block;">×</button>
                    <h3 class="panel-title">Publication du formulaire</h3>
                </div>
                <div class="panel-body">
                    <p>Êtes-vous sûr de bien vouloir publier ce formulaire?</p>
                </div>
            
            <center><p><button class="cancel btn btn-lg btn-default btn-md waves-effect btn-sm m-b-5" tabindex="2" style="display: inline-block;" data-dismiss="modal">Annuler</button> 
                
            <a href="{{ path('publishForm', {'id':form.id }) }}" class="confirm btn btn-lg btn-warning btn-md waves-effect waves-light btn-sm m-b-5 remove_form" >Publier</a>
          
    </p></center>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
 
    
            {% endblock %}
{% endblock %}
{% block javascript %}


<script>
    $(document).ready(function () {
    $(validationform).validate();
  

    })
    $('.bublished-forms').css("color", "#188ae2");
    $('.fa-share-alt').css("color", "#188ae2");
    </script>
    <script>

       
    </script>
    {% endblock %}