{% extends 'template.html.twig' %}
{% block title %}Les données du formulaire{% endblock %}
{% block content %}
    {% block body %}
 

    <div class="col-md-12" style="right: -25px;">
    <div class="col-md-10">
<h3 class="page-title">Les données du formulaire</h3><br></div>
<br><br>
    
    <div class="card-box" style="width:1282px;">
    
    <div class="row">
    <div class="col-md-8">
<h4 class="page-title">{{form.name}}</h4>
<br>
    
   
<p>{{form.description}}</p>
</div>
<div class="col-md-2"> </div>
<div class="col-md-2"> 
{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set url = app.request.attributes.get('_route_params')['url'] %}

<a href="{{ path('createData', {'url':form.url }) }}" style="width:210px; left:-10%;" class="btn btn-lg btn-success btn-block waves-effect m-t-20 waves-light">

<i class="fa fa-plus "></i>
Remplir le formulaire                                             
</a>
</div>
</div></div>
</div>
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">

                    <br>
                        <br>
                         
                           
                        </div>
                               
                        </div>
                        
                        <!-- end page title end breadcrumb -->
                       
                      
                        <div class="row">
                          
                               
                            </div>
                        <div class="row">
                            <div class="col-lg-12" style="left: -47px;">
                                <div class="card-box" style=" width: 1282px;">
                                    <div class="row">
                                        <div class="col-sm-8">
                                           
                                            </div>
                                          
                                        </div>

                                        <div class="table-responsive">
                                    
                                            <table class="table table-hover mails m-0 table table-actions-bar">
                                                <thead>
                                                 
                                                    <tr>
                                                        <th>
                                                            Code de saisie
                                                        </th>
                                                        <th>
                                                           Date de saisie
                                                        </th>
                                                    
                                                        <th>
                                                          Utilisateur
                                                        </th>
                                                 
                                                    <th>
                                                     Actions
                                                     </th>
                                                    </tr>

                                                </thead>
                                                
                                                <tbody>
                                                 
                                                   
                                                    {% for dataForm in dataForms %}
                                                  

                                                            <tr class="form_{{dataForm.id}}">
                                                       
                                                                <td>

                                                                    {{ dataForm.code }}
                                                                </td>
                                                                <td>

                                                                    {{ dataForm.date | date("d/m/Y") }}
                                                                </td>
                                                                 
                                                                <td>
                                                                    {{ dataForm.user }}
                                                                </td>
                                                          
                                                       
                                                        <td>
                                                           
                                                    <a  href="{{ path('editData', {'url':form.url,'idFormData': dataForm.id }) }}" class="table-action-btn h3" data-toggle="tooltip" title="Modifier" data-placement="top">

                                                <i  class="mdi mdi-pencil-box-outline text-success" ></i>

                                 
                                            </a>
                                            <a href="#" class="table-action-btn h3 " id="{{ dataForm.id }}" data-toggle="tooltip" title="Supprimer" data-placement="top">
                                        <i  class="mdi mdi-delete text-danger"  data-toggle="modal" data-target="#panel-modal_{{dataForm.id}}" ></i>
                                    </a>
                                                        </td>
                                                      
                                                
                                                            </tr>
                                                          
                                                       
                                                        {% endfor %}
                                                </tbody>
                                            
                                            </table>
                                  
                                        </div>
                                    <!-- end table responsive -->
                                    </div>
                                    <!-- end card-box -->
                                     <!-- Modal Delete-->
        {% for dataForm in dataForms %}
        <div id="panel-modal_{{dataForm.id}}" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; padding-right: 17px;">
                                <div class="modal-dialog">
                                    <div class="modal-content p-0 b-0">
                                        <div class="panel panel-color panel-primary">
                                            <div class="panel-heading">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="display:block;">×</button>
                                                <h3 class="panel-title">ATTENTION</h3>
                                            </div>
                                            <div class="panel-body">
                                                <p>Cette action est irréversible. Êtes-vous sûr de bien vouloir supprimer cette saisie?</p>
                                            </div>
                                        
                                        <center><p><button class="cancel btn btn-lg btn-default btn-md waves-effect btn-sm m-b-5" tabindex="2" style="display: inline-block;" data-dismiss="modal">Annuler</button> 
                                            
                                        <a href="{{ path('deleteFormData', {'id':dataForm.id }) }}" class="confirm btn btn-lg btn-danger btn-md waves-effect waves-light btn-sm m-b-5 remove_form" >Supprimer</a>
                                      
                                </p></center>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            
        {% endfor %}

                                            {% endblock %}

                                        {% endblock %}
                                        {% block javascript %}
                                        <script>
                                            $('.bublished-forms').css("color", "#188ae2");
                                            $('.fa-share-alt').css("color", "#188ae2");
                                            $(document).ready(function(){
                                              $('[data-toggle="tooltip"]').tooltip();   
                                            });
                                        
                                            </script>       {% endblock %}