{% extends 'template.html.twig' %}
{% block title %}Visualisation Formulaire{% endblock %}
{% block content %}
	{% block body %}
    <div class="col-md-12" style="right: -25px;">

    <div class="col-md-10">
<h3 class="page-title">Visualisation du formulaire</h3><br></div>
<br><br>
    
    <div class="card-box" style="width:1282px;">
    
    <div class="row">
    <div class="col-md-8">
<h4 class="page-title">{{form.name}}</h4>
<br>
    
   
<p>{{form.description}}</p>
</div>


</div>
</div></div>
</div>
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
            
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <form  onsubmit="return false" class="validate" name="validationform" action="#" novalidate="">
        <!-- Basic Form Wizard -->
        {% for section in sections %}
      
        <div class="row section sectionVisualise">
            <div  class="col-md-12" style="right: 48px;">
                <div class="card-box" style="width:1282px;">
            <h4 class="m-t-0 header-title"><b>{{section.title}}</b></h4>
               
                
        
                <div class="p-20">
                <div class="row form">
               
                {% for element in section.elements %}
               
                                       
         {% if element.elementType.type == "Text" %}
            <div  class="{{element.classe}}">
            {% set  validations = element.getConstraintValidationByType %}
            
           
                                            <div class="form-group">
                                                <label value="{{element.label}}">{{element.label}}</label>{% for validation in validations %}
                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}{% if validationValues is not null %}{% if validation.contrainte == "required" and  validationValues.value =="1" %}<span class="text-danger">*</span>{% endif %}{% endif %}{% endfor %}
                                                <input  {% for validation in validations %}
                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                        {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if  validation.contrainte != "input_only_number" %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                        {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if  validation.contrainte != "required" %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                       
                                    {% endfor %} 
                              
                                   name="validationform[{{element.label}}]" type="text" class="form-control inputerror"  placeholder="{{element.placeholder}}">
                                            </div>
                                       
                                        </div>
                                    {% endif %}

                                    {% if element.elementType.type == "Text Area" %}
                                      <div  class="{{element.classe}}">
                                    {% set  validations = element.getConstraintValidationByType %}
                                    
                                   
                                                                    <div class="form-group">
                                                                        <label>{{element.label}}</label>{% for validation in validations %}
                                                                        {% set  validationValues = element.getConstraintValidationByElement(validation) %}{% if validationValues is not null %}{% if validation.contrainte == "required" and  validationValues.value =="1" %}<span class="text-danger">*</span>{% endif %}{% endif %}{% endfor %}
                                                                        <textarea  {% for validation in validations %}
                                                                    {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                  
                                                                {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                            {% endfor %} 
                                                        name="validationform[{{element.label}}]" type="text" class="form-control inputerror"  placeholder="{{element.placeholder}}"></textarea>
                                                                    </div>
                                                               
                                                                </div>
                                                            {% endif %}
                                                            {% if element.elementType.type == "Date" %}
                                                            <div  class="{{element.classe}}">
                                                            {% set  validations = element.getConstraintValidationByType %}
                                                        
                                                           
                                                                                            <div class="form-group">
                                                                                                <label>{{element.label}}</label>{% for validation in validations %}
                                                                                                {% set  validationValues = element.getConstraintValidationByElement(validation) %}{% if validationValues is not null %}{% if validation.contrainte == "required" and  validationValues.value =="1" %}<span class="text-danger">*</span>{% endif %}{% endif %}{% endfor %}
                                                                                                    <div class="input-group">
                                                                                                <input {% for validation in validations %}
                                                                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                          
                                                                                        {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                                                    {% endfor %} 
                                                                                name="validationform[{{element.label}}]" class="form-control inputerror datepick" type="text" placeholder="{{element.placeholder}}" ><span class="input-group-addon bg-custom b-0"><i class="mdi mdi-calendar text-white"></i></span></div>
                                                                                            </div>
                                                                                       
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    {% if element.elementType.type == "Checkbox" %}
                                                                             
                                                                                    <div  class="{{element.classe}}">
                                                                                    {% set  validations = element.getConstraintValidationByType %}
                                                                                                                    <div class="form-group">
                                                                                                                     
                                                                                                                            <div class="checkbox checkbox-primary">
                                                                                                                        <input name="{{element.id}}" id="validationform[{{element.label}}]" {% for validation in validations %}
                                                                                                                    {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                                                  
                                                                                                                {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                                                                            {% endfor %} 
                                                                                                         class="form-control inputerror" type="checkbox" > <label>{{element.label}}</label></div>     
                                                                                                               
                                                                                                                </div>
                                                                                                            {% endif %}
                                                                                                            {% if element.elementType.type == "Multiple Checkbox" %}
                                                                                                           
                                                                                                            <div  class="{{element.classe}}">
                                                                                                            {% set  validations = element.getConstraintValidationByType %}
                                                                                                        
                                                                                                           
                                                                                                                                            <div class="form-group">
                                                                                                                                        <label>{{element.label}}</label>
                                                                                                                                            {% set  multipleElements = element.multipleElements %}
                                                                                                                                            {% for multipleElement in multipleElements %}
                                                                                                                                                    <div class="checkbox checkbox-primary">
                                                                                                                                                <input name="{{multipleElement.id}}" {% for validation in validations %}
                                                                                                                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                                                                          
                                                                                                                                        {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                                                                                                    {% endfor %} 
                                                                                                                                name="validationform[{{element.label}}]" class="form-control inputerror" type="checkbox" > <label>{{multipleElement.value}}</label></div>
                                                                                                                                       
                                                                                                                                {% endfor %}
                                                                                                                                        </div></div>
                                                                                                                                    {% endif %}
                                                                                                                                    
                        
                                                  
                                                                                                            {% if element.elementType.type == "Number" %}
                                                                                                            <div  class="{{element.classe}}">
                                                                                                            {% set  validations = element.getConstraintValidationByType %}
                                                                                                            
                                                                                                           
                                                                                                                                            <div class="form-group">
                                                                                                                                                <label>{{element.label}}</label>{% for validation in validations %}
                                                                                                                                                {% set  validationValues = element.getConstraintValidationByElement(validation) %}{% if validationValues is not null %}{% if validation.contrainte == "required" and  validationValues.value =="1" %}<span class="text-danger">*</span>{% endif %}{% endif %}{% endfor %}
                                                                                                                                                <input  {% for validation in validations %}
                                                                                                                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                                                                          
                                                                                                                                        {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                                                                                                    {% endfor %} 
                                                                                                                                   name="validationform[{{element.label}}]" type="number" class="form-control inputerror"  placeholder="{{element.placeholder}}">
                                                                                                                                            </div>
                                                                                                                                       
                                                                                                                                        </div>
                                                                                                                                    {% endif %}
                                                                                                                                    {% if element.elementType.type == "E-mail" %}
                                                                                                                                    <div  class="{{element.classe}}">
                                                                                                                                    {% set  validations = element.getConstraintValidationByType %}
                                                                                                                                    
                                                                                                                                   
                                                                                                                                                                    <div class="form-group">
                                                                                                                                                                        <label value="{{element.label}}">{{element.label}}</label>{% for validation in validations %}
                                                                                                                                                                    {% set  validationValues = element.getConstraintValidationByElement(validation) %}{% if validationValues is not null %}{% if validation.contrainte == "required" and  validationValues.value =="1" %}<span class="text-danger">*</span>{% endif %}{% endif %}{% endfor %}
                                                                                                                                                                        <input  {% for validation in validations %}
                                                                                                                                                                    {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                                                                                                    
                                                                                                                                                                {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                                                                                                                               
                                                                                                                                                            {% endfor %} 
                                                                                                                                                      
                                                                                                                                                           name="validationform[{{element.label}}]" type="text" class="form-control inputerror"  placeholder="{{element.placeholder}}" email="true">
                                                                                                                                                                    </div>
                                                                                                                                                               
                                                                                                                                                                </div>
                                                                                                                                                            {% endif %}
                                                                                                                                                            {% if element.elementType.type == "Dropdown List" and element.multiple == "Unique" %}
                                                                                                                                                            <div  class="{{element.classe}}">
                                                                                                                                                            {% set  validations = element.getConstraintValidationByType %}
                                                                                                                                                            
                                                                                                                                                           
                                                                                                                                                                                            <div class="form-group">
                                                                                                                                                                                                <label value="{{element.label}}">{{element.label}}</label>{% for validation in validations %}
                                                                                                                                                                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}{% if validationValues is not null %}{% if validation.contrainte == "required" and  validationValues.value =="1" %}<span class="text-danger">*</span>{% endif %}{% endif %}{% endfor %}
                                                                                                                                                                                                <select title="select"  {% for validation in validations %}
                                                                                                                                                                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                                                                                                                            
                                                                                                                                                                                        {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %}{% if validation.contrainte != "required"  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% elseif validationValues.value =="1" %}{{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}{% endif %}
                                                                                                                                                                                       
                                                                                                                                                                                    {% endfor %} 
                                                                                                                                                                              
                                                                                                                                                                                name="validationform[{{element.label}}]"  class="form-control inputerror"  >
                                                                                                                                                                                {% set  multipleElements = element.multipleElements %}
                                                                                                                                                                         {% for multipleElement in multipleElements %}
                                                                                                                                                                            <option>{{multipleElement.value}}</option>
                                                                                                                                                                            {% endfor %}
                                                                                                                                                                                </select>
                                                                                                                                                                                            </div>
                                                                                                                                                                                       
                                                                                                                                                                                        </div>
                                                                                                                                                                                    {% endif %}
                                                                                                                                                                                    {% if element.elementType.type == "Dropdown List" and element.multiple == "Multiple" %}
                                                                                                                                                                                    <div  class="{{element.classe}}">
                                                                                                                                                                                    
                                                                                                                                                                                    <div class="form-group">
                                                                                                                                                                                    <label value="{{element.label}}">{{element.label}}</label>
                                                                                                                                                                                    <select data-placeholder="" multiple="" class="chosen-select" tabindex="-1" style="display: none;">
                                                                                                                                                                                      <option value=""></option>
                                                                                                                                                                                      {% set  multipleElements = element.multipleElements %}
                                                                                                                                                                         {% for multipleElement in multipleElements %}
                                                                                                                                                                            <option>{{multipleElement.value}}</option>
                                                                                                                                                                            {% endfor %}
                                                                                                                                                                                    </select><div class="chosen-container chosen-container-multi chosen-container-active" title="" style="width: 350px;">
                                                                                                                                                                         </div>
                                                                                                                                                                                  </div>
                                                                                                                                                                                </div>
                                                                                                                                                                                {% endif %}                                                                                                                                                {% endfor %}    
                                </div>   
                                </div>   
                       
                 </div>
            </div>
        </div>
    {% endfor %}
   
    {% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
{% set url = app.request.attributes.get('_route_params')['url'] %}

<a  type="button" href="{{ path('indexArray', {'url':form.url }) }}" class="btn btn-primary waves-effect m-l-5" style="position:relative; left:74%;">
Modifier le formulaire
</a>
    <!-- <button type="reset" class="btn btn-default waves-effect m-l-5 annuler btnvisualise" style="position:relative; left:81%;">
        Annuler
    </button> -->

<button id="{{form.id}}" class="btn btn-success waves-effect waves-light valider btnvisualise" data-target="#custom-width-modal" style="position:relative; left:75%;">Simuler le formulaire</button>


</form>
        <!-- End row -->
    </div>
    <div id="custom-width-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none; padding-right: 17px;">
                                <div class="modal-dialog" style="width:55%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="custom-width-modalLabel">Votre formulaire est valide!</h4>
                                        </div>
                                        <div class="modal-body">

                                            <p>Est-ce que vous souhaitez créer des données?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Annuler</button>

                                            <a  type="button" href="{{ path('createData', {'url':form.url }) }}" class="btn btn-primary waves-effect waves-light" >Oui</a>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
    
            {% endblock %}
{% endblock %}
{% block javascript %}

<script>
    $(document).ready(function () {
      
      
        
    $(validationform).validate();
    })
</script>
<script>
    $(document).ready(function () {
        $('.forms').css("color", "#188ae2");
        $('.fa-wpforms').css("color", "#188ae2");
    $(validationform).validate();
    if(($('.sectionVisualise').length) ==0){
$('.wrapper').prepend('<div class="col-md-1"></div><div class="col-md-10 errorMessage"><div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert"><button style="display:block;" type="button" class="close" data-dismiss="alert" aria-label="Close">'+
        '<span aria-hidden="true">×</span></button><i class="mdi mdi-block-helper"></i>Votre formulaire est vide! veillez le remplir avec des sections!</div></div><div class="col-md-1"></div>');
        
        $('.valider').attr("disabled", true);
        $('.annuler').attr("disabled", true);
    }

    labels=[];
    $('label').each(function(){
      labels.push($(this).text());
     
    });
    console.log(labels);
      
      function checkValue(arr){
        var status = 'Not exist';
       
        for(var i=0; i<arr.length-1; i++){
            for(var j=i+1; j<arr.length; j++){
         if(arr[i]==arr[j]){
             status='exist';
             break;
         }

            }
        }
      
      if (status=='exist'){

    $('.wrapper').prepend('<div class="col-md-1"></div><div class="col-md-10 warningmessage"><div class="alert alert-icon alert-warning alert-dismissible fade in" role="alert" style="width: 1282px; left: -85px;"><button style="display:block;" type="button" class="close" data-dismiss="alert" aria-label="Close">'+
        '<span aria-hidden="true">×</span></button><i class="mdi mdi-alert"></i><strong>Il existe deux champs ou plus qui ont le même label!</strong></div></div><div class="col-md-1"></div>');
        
      }
        
        return status;
      }
   
      checkValue(labels);
      
      // visualise Form
// show modal when form is valid
  $(document).on('click', '.valider', function () {
    document.documentElement.scrollTop = 0;
  if($('.warningmessage').length!=0)
  $('.warningmessage').remove();
         
    checkValue(labels);
 var empty = 'false'
    $('.form').each(function () {
        // if section empty
        if($.trim($(this).html())==''){
            empty='true';
            return;
        }       
    });
    
    if(empty=='true' ){
       
        $('.errorMessage').remove();
        
    $('.wrapper').prepend('<div class="col-md-1"></div><div class="col-md-10 errorMessage"><div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert" style="width: 1282px; left: -85px;"><button style="display:block;" type="button" class="close" data-dismiss="alert" aria-label="Close">'+
        '<span aria-hidden="true">×</span></button><i class="mdi mdi-block-helper"></i>Votre formulaire comporte au moins une section vide! veillez la/les remplir avec des champs ou bien la/les supprimer!</div></div><div class="col-md-1"></div>');
        $('.alert-warning').css('left','26px');
        
    }

    else if ($(validationform).validate().checkForm() ){
        $('.validMessage').remove();
    $('.wrapper').prepend('<div class="col-md-1"></div><div class="col-md-10 validMessage"><div class="alert alert-icon alert-success alert-dismissible fade in" role="alert" style="width: 1282px; left: -85px;"><button style="display:block;" type="button" class="close" data-dismiss="alert" aria-label="Close">'+
'<span aria-hidden="true">×</span></button><i class="mdi mdi-check-all"></i><strong>Votre formulaire est valide!&nbsp;<strong>Est-ce que vous souhaitez le partager?&nbsp; <a href="{{ path('publishForm', {'id':form.id }) }}"  class="alert-link">Cliquer ici</a><br>Nb: Un formulaire partagé n&apos;est plus modifiable.</div></div><div class="col-md-1"></div>');
    $('.alert-warning').css('left','26px');
    var url = document.URL;
    var slugIndex = url.lastIndexOf('/');
        if (url.substr(slugIndex) !== '') {
            url = url.substring(slugIndex + 1, url.length);
        }
    $.ajax({

        url: Routing.generate('validateForm'),
        data: {
            url: url,   
        },
        
        type: 'POST'
    })
    }
    else {
        $(this).removeAttr('data-toggle');
    } 

    })
    $('.inputerror').each(function(){
        var inputNumber = $(this).attr('input_only_number');
        if(inputNumber=="1"){
            $(this).keypress(function(event){
     if (event.keyCode <= 47 || event.keyCode > 57) {
        if (event.which != 8) {
            event.returnValue = false;
        }
    }
    if (event.which <= 47 || event.which > 57) {
        if (event.which != 8) {
            return false;
        }
    }
});
        }
    });

    function ForceNumericOnly() {
        // return this.each(function() {
        $(this).keypress(function(e) {
            if (event.keyCode <= 47 || event.keyCode > 57) {
                if (event.keyCode != 8) {
                    event.returnValue = false;
                }
            }
            if (event.which <= 47 || event.which > 57) {
                if (event.which != 8) {
                    return false;
                }
            }
        });
        // });
    };
    })
    </script>
  
    {% endblock %}