{% extends 'template.html.twig' %}

{% block content %}
	{% block body %}
   
    <div class="container">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
              
                  <br>
                    <h4 class="page-title">{{ form.name }}</h4>
      <br>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <form  onsubmit="return false" class="validate" name="validationform" action="#" novalidate="">
        <!-- Basic Form Wizard -->
        {% for section in sections %}
        <div class="row">
            <div  class="col-md-12">
                <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Titre Section</b></h4>
                <div class="p-20">
                <div class="row">
                {% for element in section.elements %}
               
                                       
         
            <div  class="col-md-6">
            {% set  validations = element.getConstraintValidationByType %}
            
           
                                            <div class="form-group">
                                                <label>{{element.label}}</label>
                                                <input  {% for validation in validations %}
                                            {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                          
                                        {% if validationValues is not null %}{% if validationValues.value is not null and  validationValues.value != ""  %} {{ validation.contrainte }}  ="{{ validationValues.value }}"{% endif %}{% endif %}
                                    {% endfor %} 
                                   name="validationform[{{element.label}}]" type="text" class="form-control inputerror"  placeholder="{{element.placeholder}}">
                                            </div>
                                       
                                        </div>
                                     
                                    
                                   {% endfor %}
                                </div>
                                </div>       
                 </div>
            </div>
        </div>
    {% endfor %}
        <div class="form-group text-right m-b-0">
   
    <button type="reset" class="btn btn-default waves-effect m-l-5">
        Annuler
    </button>

<button class="btn btn-primary waves-effect waves-light valid" data-target="#custom-width-modal">Valider</button>

</div>
</form>


        <!-- End row -->


 

    </div>

    <div id="custom-width-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none; padding-right: 17px;">
                                <div class="modal-dialog" style="width:55%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="custom-width-modalLabel">Votre formulaire est valide!</h4>
                                        </div>
                                        <div class="modal-body">

                                            <p>Est ce que vous souhaitez le publier?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Annuler</button>
                                            <button id="{{form.id}}" type="button" class="btn btn-primary waves-effect waves-light publish" data-dismiss="modal">Publier</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
    
            {% endblock %}
{% endblock %}
{% block javascript %}


<script>
    $(document).ready(function () {
    $(validationform).validate();
  

    })
    </script>
    <script>

         /*$(document).ready(function () {
        $(document).on('click', '.btntest', function () {
        $.ajax({
            url: Routing.generate('getElements'),
          
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                for (let i = 0; i < data.elements.length ; i++){
                $(validationform).validate({
                   
                       rules: 
                       {  
                       
                         'form['+data.elements[i].label+']' : 
                        
                         {
                 
                           required: true
                         }
                       }
                   
                   
                   });
                   }
        
            }
            
               
                
                })
         
           
                })
     
    
        })*/
    </script>
    {% endblock %}