{% extends 'template.html.twig' %}

{% block content %}
    {% block body %}

        <div class="wrapper">
            <div class="container">

                <!-- end page title end breadcrumb -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box ">
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="text-center card-box">
                                        <div class="member-card">

                                            <a href="javascript:;" data-toggle="modal" data-target="#add-category" class="btn btn-lg btn-danger btn-block waves-effect m-t-20 waves-light btn-section">
                                                <i class="fa fa-plus"></i>
                                                Create New Bloc                                                 
                                            </a>
                                            <div id="external-events" class="m-t-20 nav">
                                                <br>

                                                    {% for elementType in elementTypes %}

                                                        <div id="{{ elementType.id }}" class="external-event bg-success form_bal_textfield" data-class="bg-success" style="position: relative; ">
                                                            <a href="javascript:;">
                                                                <i class="mdi mdi-message-text-outline m-r-10 vertical-middle"></i>
                                                                &nbsp;
                                                                                                                                  
                                                                {{ elementType.type }}
                                                            </div>
                                                        {% endfor %}

                                                    </div>

                                                </div>

                                            </div>
                                        <!-- end card-box -->

                                        </div>
                                        <!-- end col -->

                                        <div class="col-md-8 ">

                                            <div class="card-box form_builder_area ui-sortable">
                                                {% set currentPath = path(app.request.attributes.get('_route'),
                                                     app.request.attributes.get('_route_params')) %}
                                                {% set params= { 'url': currentPath } %}

                                                {% for section in sections %}

                                                    <div id="sortable" data-field="{{ section.name }}" data-block="{{ section.ordre }}" class="block_{{ section.name }} block ">
                                                        <div class="col-md-12">
                                                            <div class="form-group ">
                                                                <div class="pull-right">
                                                                    <a class="table-action-btn h3">
                                                                        <i class="mdi mdi-close-box-outline text-danger remove_block " data-field="{{ section.name }}"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <br>
                                                                <div id="{{ section.id }}" class="jFiler-input-dragDrop block-area ui-sortable " style="width:100%;">

                                                                    {% for element in section.elements %}

                                                                        <div class="li_{{ element.name }} form_builder_field elmt ui-sortable-handle" data-field="{{ element.name }}" style="z-index: auto; width: 314px; right: auto; height: 118px; bottom: auto;" order-elmt="{{ element.ordre }}">
                                                                            <div class="form-group " data-field="{{ element.name }}">
                                                                                <div class="  pull-right">
                                                                                    <div>
                                                                                        <a class="table-action-btn h3">
                                                                                            <i class="mdi mdi-settings-box text-success" id="openModalButton" data-toggle="modal" data-target="#con-close-modal_{{ element.name }}" data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" data-overlaycolor="#36404a"></i>
                                                                                        </a>
                                                                                        <a class="table-action-btn h3">
                                                                                            <i class="mdi mdi-close-box-outline text-danger remove_bal_field" data-field="{{ element.name }}"></i>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div>
                                                                                <div class=" row">
                                                                                    <label id="label{{ element.name }}" class="control-label labelform">
                                                                                        {{ element.label }}

                                                                                    </label>

                                                                                    <input id="placeholder{{ element.name }}" type="text" name="" placeholder="{{ element.placeholder }}" class="form-control "></div>
                                                                                </div>
                                                                                <br>

                                                                                    <div id="con-close-modal_{{ element.name }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                                                        <div class="modal-dialog">
                                                                                            <div class="modal-content">
                                                                                                <div class="modal-header">
                                                                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                                                        ×
                                                                                                                                                                                                                																									
                                                                                                                                                                                                            
                                                                                                    </button>
                                                                                                    <h4 class="modal-title">
                                                                                                        Parametrage du champ 
                                                                                                                                                                                                                																									
                                                                                                                                                                                                            
                                                                                                    </h4>
                                                                                                </div>
                                                                                                <div class=" modal-body{{ element.name }} custom-modal-text text-left">
                                                                                                    <form id="form_{{ element.name }}" class="modal-body-form{{ element.name }}">
                                                                                                        <div class="col-md-12">
                                                                                                            <div class="form-group">
                                                                                                                <label id="{{ element.name }}" for="name">
                                                                                                                    Label
                                                                                                                                                                                                                                        																												
                                                                                                                                                                                                                                    
                                                                                                                </label>
                                                                                                                <input type="text" class="form-control" id="inputLabel{{ element.name }}" placeholder="{{ element.label }}"></div>
                                                                                                            </div>
                                                                                                            <div class="col-md-12">
                                                                                                                <div class="form-group">
                                                                                                                    <label id="{{ element.name }}" for="name">
                                                                                                                        Placeholder
                                                                                                                                                                                                                                                																													
                                                                                                                                                                                                                                            
                                                                                                                    </label>
                                                                                                                    <input type="text" class="form-control" id="inputPlaceholder{{ element.name }}" placeholder="{{ element.placeholder }}"></div>
                                                                                                                </div>

                                                                                                                {% set  validations = element.getConstraintValidationByType %}

                                                                                                                {% set i = 0 %}
                                                                                                                {% for validation in validations %}

                                                                                                                    {% set  validationValues = element.getConstraintValidationByElement(validation) %}
                                                                                                                     
                                                                                                                    {% if validation.html != 'checkbox' %}

                                                                                                                        <div class="col-md-12">
                                                                                                                            <div class="form-group">
                                                                                                                                <label class="control-label">
                                                                                                                                    {{ validation.contrainte }}

                                                                                                                                </label>
                                                                                                                                <input value="{% if validationValues is not null %}{{ validationValues.value }}{% endif %}" name="{% if validationValues is not null %}{{ validationValues.constraintValidation.id }}{% endif %}" id="inputConstraint{{ element.name }}{{ i }}" elementtype="{{ element.elementType.id }}" data-field="{{ element.name }}" type="input" class="form-control input"></div>

                                                                                                                            </div>
                                                                                                                        {% else %}
                                                                                                                            <div class="col-md-12">
                                                                                                                                <div class="checkbox checkbox-primary">
                                                                                                                                    <input value="{% if validationValues is not null %}{{ validationValues.value }}{% endif %}" name="{% if validationValues is not null %}{{ validationValues.constraintValidation.id }}{% endif %}" id="inputConstraint{{ element.name }}" type="checkbox">
                                                                                                                                        <label for="checkbox1">
                                                                                                                                            {{ validation.contrainte }}
                                                                                                                                        </label>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            {% endif %}
                                                                                                                            {% set i = i+1 %}
                                                                                                                        {% endfor %}

                                                                                                                        <div class="modal-footer">
                                                                                                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">
                                                                                                                                Close
                                                                                                                                                                                                                                                            																																
                                                                                                                                                                                                                                                        
                                                                                                                            </button>

                                                                                                                            <button elementtype="{{ element.elementType.id }}" type="button" class="btn btn-info waves-effect waves-light btnElmt" data-field="{{ element.name }}" data-dismiss="modal">
                                                                                                                                Save changes
                                                                                                                                                                                                                                                            																																
                                                                                                                                                                                                                                                        
                                                                                                                            </button>
                                                                                                                        </div>
                                                                                                                    </form>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </div>

                                                                                            {% endfor %}

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            {% endfor %}
                                                                        <!-- end col -->

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <!-- End row -->

                                                        {% endblock %}

                                                    {% endblock %}
                                                    